body {
    background-color:lightblue;
    font-family:fantasy;
    font-size: 35px;
    position:fixed;
    align-content: center;
    justify-content: center;
}

div {
    text-align: center;
}

p{
    background-color:lightcoral;
    justify-content: center;
}
head {
    justify-content: center;
}


