body {
    background-color: black;
    color:blue; 
    margin: auto;
    padding: 15px;
    border:0mm;
    font-size: 25px;
    

    
}

div{
    display:flex;
    justify-content: center;
    font-size: 35px;
    font-family: 'Times New Roman;
    
}

p {
    color:lightblue;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

ol{
    color:red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}